.title {
  text-align: center;
  color: rgb(110, 30, 110);
  margin-bottom: 30px;
}
form input {
  border-radius: 5px;
  padding: 10px 10px;
  text-align: center;
  width: 80%;
  color: rgb(26, 190, 190);
  font-size: 28px;
  font-weight: 500;
}
form {
  background-color: beige;
  text-align: center;
  padding: 20px 40px;
  border: solid 0.7px rgb(245, 216, 216);
  border-radius: 7px;
  box-shadow: 8px 12px 8px rgb(0 0 0 /12%);
  margin: auto 20px;
  margin-bottom: 20px;
}
h6.suggestion {
  text-align: left;
  margin-top: 10px;
  opacity: 0.7;
  font-weight: 200;
}
.Dictionary section {
  background-color: beige;
  padding: 20px 30px;
  border-radius: 5px;
}
