.initiator {
  margin-top: 10px;
  color: rgb(26, 190, 190);
  margin-bottom: 15px;
  font-size: 26px;
  font-weight: 600;
}
.phonetic {
  color: rgb(227, 67, 93);
}
.Results {
  margin: auto 0;
  margin-bottom: 20px;
}
